name: CI for linux by xmake

on:
  push:
    branches: [ "master", "main" ]
  pull_request:
    branches: [ "master", "main" ]

jobs:
  build:
    name: Build standard
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: setup xmake
      uses: xmake-io/github-action-setup-xmake@v1
      with:
      # The version to use. Should be a semver range or 'latest'. Or use branch@{branch_name} to select a branch.
        xmake-version: latest
    - name: Update apt
      run: sudo apt update -y
    - name: Configure
      run: xmake f -m debug -y
    - name: Build
      run: xmake -y
    - name: Run Test
      run: xmake test -v
